body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-container {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.video-container.reference {
    width: 100%;
    max-width: 450px; /* Reference Video 1:1 비율 */
    aspect-ratio: 1 / 1;
}

.video-container.generated {
    width: 100%;
    max-width: 900px; /* Generated Video 2:1 비율 */
    aspect-ratio: 2 / 1;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 60%; 
    height: auto; 
    margin-top: 10px;
}

.image-container img {
    /* max-width: 60%; 
    height: auto;  */
    display: block;
    margin: 10px auto;
}

.buttons {
    margin-top: 20px;
}

.nav-btn, .home-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.nav-btn:hover, .home-btn:hover {
    background-color: #0056b3;
}
